In [1]:
import sys, os
import numpy as np
import pandas as pd

In [2]:
INDIR = r'C:\Users\sdrew_000\Downloads\network_draft1.9\network_draft1.9'

In [3]:
walk_access = pd.read_csv(os.path.join(INDIR,'walk_access_ft.txt'))
routes = pd.read_csv(os.path.join(INDIR,'routes.txt'))
stop_times = pd.read_csv(os.path.join(INDIR,'stop_times.txt'))
stops = pd.read_csv(os.path.join(INDIR,'stops.txt'))
trips = pd.read_csv(os.path.join(INDIR,'trips.txt'))

In [5]:
taz475_access = walk_access.loc[walk_access['taz'].eq(475),:]

In [12]:
nstops_all = pd.merge(trips.loc[trips['route_id'].eq('sf_muni_N')],stop_times, on='trip_id')

In [16]:
nstops = stops.loc[stops['stop_id'].isin(nstops_all['stop_id'].drop_duplicates().tolist()),:]

In [17]:
nstops

      stop_id                  stop_name   stop_lat    stop_lon zone_id
155     27411                 22nd/Judah  37.761559 -122.480207     NaN
179     27431                 28th/Judah  37.761276 -122.486640     NaN
286     27725                 Judah/34th  37.760992 -122.493068     NaN
290     27735               Sunset/Judah  37.760874 -122.495749     NaN
296     27366                 19th/Judah  37.761699 -122.477011     NaN
356     27947                 Judah/46th  37.760424 -122.505928     NaN
362     27960             Judah/La Playa  37.760282 -122.509141     NaN
3829    13401   Muni Embarcadero Station  37.793112 -122.396993     NaN
3830    13402    Muni Montgomery Station  37.789189 -122.401739     NaN
4131    13403        Muni Powell Station  37.784987 -122.406815     NaN
4132    13404  Muni Civic Center Station  37.779938 -122.413612     NaN
4133    13405      Muni Van Ness Station  37.775451 -122.419382     NaN
4147    27787                 40th/Judah  37.760709 -122.499497     NaN
4367    27951                 48th/Judah  37.760330 -122.508068     NaN
4561    54002        Embarcadero/Brannan  37.784806 -122.388039     NaN
4562    54003                   King/2nd  37.779869 -122.389437     NaN
4563    54004                   4th/King  37.776366 -122.394008     NaN
4587    54086                 Judah/16th  37.761795 -122.473734     NaN
4588    54087                 Judah/15th  37.761864 -122.472602     NaN
4589    54088              Judah/Funston  37.761951 -122.470426     NaN
4590    54089                 Judah/12th  37.761989 -122.469357     NaN
5127    25884              Duboce/Church  37.769456 -122.429128     NaN
5253    25984                 Duboce/Noe  37.769178 -122.433572     NaN
5527    26282                  Carl/Cole  37.765800 -122.449958     NaN
5643    26303               Carl/Stanyan  37.765443 -122.452758     NaN
5707    27068                 2nd/Irving  37.764366 -122.458815     NaN
5717    27149                 7th/Irving  37.764131 -122.464172     NaN
5720    27154                 Irving/9th  37.764037 -122.466311     NaN
5763    27412                 23rd/Judah  37.761512 -122.481278     NaN
5764    27416                 Judah/25th  37.761417 -122.483423     NaN
5794    27712                 Judah/31st  37.761134 -122.489853     NaN
5801    27800                 Judah/43rd  37.760567 -122.502713     NaN
5886    54001         Embarcadero/Folsom  37.791329 -122.389282     NaN
6070    27061               Carl/Hillway  37.764932 -122.456759     NaN
6074    27067            Irving/Arguello  37.764550 -122.457700     NaN
6077    27080                 4th/Irving  37.764272 -122.460958     NaN
6112    27147                  Judah/9th  37.762175 -122.466181     NaN

In [18]:
taz475_access

,taz,stop_id,dist,elevation_gain,population_density,employment_density,auto_capacity,indirectness
952,475,23384,0.54,0.000000,28.023664,2.691701,831.250000,1.204152
1836,475,27676,0.48,53.719776,29.942711,4.291517,700.000000,1.214562
5611,475,27694,0.30,26.408448,26.036352,3.449389,700.000000,1.301167
6414,475,23291,0.37,102.272544,28.392652,3.673858,1400.000000,1.320969
7340,475,23411,0.28,0.000000,27.323972,2.278541,921.052632,1.300495
7563,475,23375,0.52,0.000000,28.127598,4.179020,793.333333,1.155027
9389,475,27725,0.92,76.169808,31.725681,4.605070,700.000000,1.113041
9512,475,23283,0.70,102.272544,30.304776,4.345875,1036.000000,1.372506
11111,475,23287,0.44,102.272544,28.392652,3.673858,1400.000000,1.320969
13177,475,27679,0.42,53.719776,30.519944,4.880805,700.000000,1.229312
14471,475,23401,0.13,4.401408,21.900084,3.429550,933.333333,1.455028
15773,475,23414,0.13,0.000000,25.621643,2.564935,1400.000000,1.500000
15942,475,23440,0.75,0.000000,21.404816,3.572236,1036.842105,1.352081
16518,475,23466,0.43,0.000000,17.208269,3.653179,835.483871,1.270705
19225,475,23397,0.25,66.667392,28.814229,3.050738,1400.000000,1.337121
19698,475,23458,0.87,21.752016,29.154259,2.786343,747.727273,1.343276
20772,475,23417,0.12,4.401408,21.900084,3.429550,933.333333,1.455028
21252,475,23462,0.99,7.962240,28.094145,2.811188,937.037037,1.314424
22359,475,27712,1.00,76.169808,31.725681,4.605070,700.000000,1.113041
22370,475,23421,0.17,4.401408,21.900084,3.429550,933.333333,1.455028
22738,475,23277,0.82,275.574816,32.336963,5.533138,1037.931034,1.415381
23222,475,27697,0.43,26.408448,26.036352,3.449389,700.000000,1.301167
27572,475,23289,0.43,240.235776,30.246300,3.169741,1234.545455,1.305916
35311,475,23389,0.58,102.272544,30.903552,5.036712,966.666667,1.329731
36021,475,23264,0.94,275.574816,32.336963,5.533138,1037.931034,1.415381
36817,475,27691,0.40,26.408448,26.036352,3.449389,700.000000,1.301167
37249,475,23412,0.31,0.000000,17.208269,3.653179,835.483871,1.270705
39246,475,23407,0.41,0.000000,21.404816,3.572236,1036.842105,1.352081
39356,475,23288,0.49,240.235776,30.246300,3.169741,1234.545455,1.305916
41023,475,23292,0.31,102.272544,28.392652,3.673858,1400.000000,1.320969
42244,475,27735,0.95,33.770880,27.641316,3.568725,700.000000,1.250052
43117,475,23418,0.15,0.000000,14.886813,4.400642,700.000000,1.181847

In [20]:
pd.merge(taz475_access, nstops, on='stop_id')

,taz,stop_id,dist,elevation_gain,population_density,employment_density,auto_capacity,indirectness,stop_name,stop_lat,stop_lon,zone_id
0,475,27725,0.92,76.169808,31.725681,4.605070,700.0,1.113041,Judah/34th,37.760992,-122.493068,NaN
1,475,27712,1.00,76.169808,31.725681,4.605070,700.0,1.113041,Judah/31st,37.761134,-122.489853,NaN
2,475,27735,0.95,33.770880,27.641316,3.568725,700.0,1.250052,Sunset/Judah,37.760874,-122.495749,NaN